@keyframes blinking-winner {
    0% {color: #ffffff;}
    100% {color: #198754;}
}
@keyframes blinking-flag {
    0% {color: #ffffff;}
    100% {color: #DC3545;}
}
.container {
    min-width: 320px;
}
.flag-icon {
    color: #DC3545;
    animation: blinking-flag 0.5s infinite;
}
.square {
    width: 100px;
    height: 100px;
    float: left;
    clear: right;
    z-index: 999;
}
.square:hover {
    cursor: pointer;
}
.matrix-row {
    margin: 0 auto;
    width: 302px;
}
.circle {
    border: 10px solid #0a53be;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-top: 8px;
    margin-left: 8px;
}
.x {
    position: sticky;
    width: 100px;
    height: 100px;
    margin-left: 44px;
    margin-top: -1px;
    z-index: -1;
}
.x:before, .x:after {
    position: absolute;
    content: ' ';
    height: 100px;
    width: 10px;
    background-color: #1d6d3f;
}
.x:before {
    transform: rotate(45deg);
}
.x:after {
    transform: rotate(-45deg);
}
.valid-feedback {
    font-weight: bold;
    font-size: large;
    animation: blinking-winner 0.5s infinite;
}